*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.login-page{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 850px){
    .login-page{
        flex-direction: column;
    }
    
}

img {
    animation: rotate infinite 2s alternate; /* Animation properties */
   
  }

@keyframes rotate {
    from { transform: rotate(45deg); }
    to { transform: rotate(-45deg); }
  }
.container-1{

    margin: auto;
    /* width: 80%; */
    /* border: 2px solid #f1356d; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.container-2{
    margin: auto;
    /* width: 80%; */
    /* border: 2px solid #f1356d; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container{
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.login-form h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: #f1356d;
    text-align: center;
}

.login-form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.login-form div input{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: 4px solid #f1356d;
    background: transparent;
    color: #f1356d;
    border-radius: 5px;
    outline: none;
}

.login-form div button{
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 900;
    /* color: #fff; */
    background-color: #f1356d;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

.login-form div button:hover{
    background-color: #fff;
}

.login-form div button:active{
    background-color: #f1356d;
    transform: scale(0.95);
}

.login-form p{
    font-size: 1.2rem;
    color: #9a9595;
}

.login-form p a{
    color: #f1356d;
    font-weight: 600;
    text-decoration: none;
}

.login-form p a:hover{
    text-decoration: underline;
}

.notification-toast{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f1356d;
    color: transparent;
    padding: 10px;
    border-radius: 5px;
    transform: scale(0);
    transition:  0.5s ease-in-out;
}

.show{
    transform: scale(1);
    transition:  0.5s ease-in-out;
}


/* .notification-toast-active{
    opacity: 1;
    visibility: visible;
}

.notification-toast p{
    font-size: 1.2rem;
} */


@media (max-width: 700px){
    .login-form h2{
        font-size: 2rem;
    }
    .login-form{
        width: 80%;
    }
    .container{
        width: 90%;
    }
    .login-form div button{
        width: 100%;
    }
    .login-form div input{
        width: 100%;
    }
    .login-form div{
        gap: 20px;
    }
    .login-form div p{
        font-size: 1rem;
    }
}



@media (max-width:400px) {
    .login-form h2{
        font-size: 1.5rem;
    }
    .login-form{
        width: 100%;
    }
}


